*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%;   
}

body{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-repeat: no-repeat;
  height: 100%;
}

.insert-titulo{
  color: steelblue;
  text-align:center;
  display: flex;
  justify-content: center;
  font-weight:bold;
  font-size: 35px;
}

.mostrar-button{
  width: 155px;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  background: steelblue;
  border: none;
  font-size: 1.9rem;
  color: #D9AFD9;
  outline: none;
  margin-left: 163px;
}



th{
  color: black !important;
  background: inherit;
  width: 35%;
  font-size: 20px;
  height: 30px;
  border: none;
  outline: none;
  background-color:#97D9E1;
}

.table{
  border-radius: 7px;
  box-shadow: 0px 20px 61px 11px rgba(0,0,0,0.47);
  padding: 40px;

}

.form-date-input[type="date"] {
  appearance: none;
  color: #1D1D1D;
  font-family: “Helvetica”, arial, sans-serif;
  font-size: 20px;
  border:1px solid #ECF0F1;
  background:#ECF0F1;
  padding: 4px;
  display: inline-block;
  visibility: visible;
  width: 160px;
  margin: 20px; 
  border-radius: 5px;
}


.form-date-input[type="date"]:focus {   
  color: #495057;
  background-color: #FFFFFF;
  border-color: #80BDFF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

label{
  font-size: 20px;
}

.texto_total{
  text-align: center;
}

.texto_total, .texto_suma_total{
  font-size: 1.4rem;
  background-color: #D9AFD9;
}

.regresar{
  font-size: 2.5rem;
  color: steelblue;
  margin-left: 24px;
}

.regresar:hover{
  cursor: pointer
}